

<!DOCTYPE html>
<html>
<head>
 <title {{title}} </title>
</head>
<body>
    
    
        <p>Hi, {{firstname}}</p>
    <p>Forgot your password? Submit a  request with your new password and password confirm to :</p>
   <a href={{url}} target="_blank" > Reset your password</a>
    
    <p> If you do not forget your password, kindly ignore this email</p>

</body>

</html>
