<!DOCTYPE html>
<html>
<head>

 <title>{{subject}} </title>
</head>
<body>

    <p> Dear {{firstName}} </p>
 
    <h2>Welcome to Audiophile – Let the Shopping Begin! 🎉 </h2>
        <p> 

                    Welcome to Audiophile once again! We're thrilled to have you join our community of savvy shoppers. Your decision to be a part of our growing family means the world to us, so make sure to upload your user photo so we get to know you a bit better! . We're here to make your shopping experience exceptional in every way.

        </p>

        <p> 

            At Audiophile, we pride ourselves on our unique identity on our automatically-generated  premium products at unbeatable prices. We want your journey with us to be nothing short of amazing.

        </p>
     

            <p>

                    Thank you once again for choosing Audiophile. We're excited about the shopping journey ahead, and we can't wait to help you find exactly what you are looking for.

            </p>

            <p>
                If you need any form of assistance, please don't hesitate to contact me! at 'myworkemail'
            </p>

                <a href={{url}} target="_blank" > upload your photo </a>

            <p>

                Happy shopping!
            </p>

            <p>

                Best regards,
            </p>

    <p>
        <span> Balogun Muhammad Awwal </span>
        <span> CEO </span>
        <span> Audioohile Team </span>
    </p>


</body>
</html>





