
extends baseEmail 

block content 


    p Dear #{firstname},

     <h2>Welcome to Audiophile – Let the Shopping Begin! 🎉 </h2>

    p  Welcome to Audiophile once again! We're thrilled to have you join our community of savvy shoppers. Your decision to be a part of our growing family means the world to us, so make sure to upload your user photo so we get to know you a bit better! . We're here to make your shopping experience exceptional in every way. 🎉🙏
    p  At Audiophile, we pride ourselves on our unique identity on our          automatically-generated  premium products at unbeatable prices. We want your journey with us to be nothing short of amazing.
            

   
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Upload user photo
    p Happy shopping             
    p  Best regards,                   
    p If you need any help with booking your next tour, please don't hesitate to contact me! 'my work email'
    p - Balogun Muhammad Awwal, CEO

